.hs-customer-ledger-list {
  width: 100%;
}

.hs-customer-ledger-list__items {
  max-height: 60vh;
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;
}

.hs-customer-ledger-list__item--active {
  background-color: var(--md-sys-color-primary-container) !important;
}
